<%- include('header.ejs')%>
<title>LaudedArts</title>
</head>
<body>

    <div class="container-fluid image">

        <nav class="navbar navbar-expand-lg  navbar-light">

            <div class="navbar-header">
                <h2><a class="navbar-brand ml-3 font-weight-bolder" href="index.html"><strong class="text-white h3">ℒᾰΰḏἓḓ ἎԻ†Š</strong></a></i>
                </h2>

            </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
                aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse  float-right" id="navbar">
                <ul class="navbar-nav float-right  ml-auto h5">
                    <li class="nav-item ">
                        <a class="nav-link text-dark float-right px-3" href="#">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-dark float-right px-3" href="/gallery">Gallery</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-dark float-right px-3" href="/Template/contact">Contact</a>
                    </li>

                    <% if(flag==1)
              {%>
                <li class="nav-item">
                    <a class="nav-link text-white float-right px-3" href="/Template/login">login</a>
                </li>
              <%}
              else
              {%>
                <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Profile
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="/Template/signout">Logout</a>
                  <a class="dropdown-item" href="/myOrder">My Orders</a>
                </div>
              </div>
              <%}%>
              
                        </ul>
            </div>

        </nav>
        &nbsp;
        <br><br>
        <div class="container-fluid pt-5">
            
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <h1 class="text-center text-white" style='font-family: "Sofia", sans-serif;'><span class="bg-danger">Sound that your audience</span> <br> <span class="bg-danger">will never forget.
                    </span></h1>
                    <p class="text-center text-dark"> Handcrafting immersive audio that will transport <br> your viewer to another world.
                    </p>
                    
                </div>
                
            </div>
        </div>
        
    </div>
<section style="margin: 20px 0px;">
    <!-- payment successful -->
    <div class="container">
        <div class="row">
           <div class="col-md-6 mx-auto mt-5">
              <div class="payment">
                 <div class="payment_header">
                    <div class="check"><i class="bi bi-check-circle-fill" aria-hidden="true"></i></div>
                 </div>
                 <div class="content">
                    <h1>Payment Success !</h1>
                    <p>Hurray, We recieved your payment Successfully. <br> You can explore your order in my order section.</p>
                    <a href="/Template/index">Go to Home</a>
                 </div>
                 
              </div>
           </div>
        </div>
     </div>
</section>

<%- include('footer.ejs')%>
    <script href="js/javascript.js"></script>
</body>

</html>